*,
*::before,
*::after {
  box-sizing: border-box;
}

.navigation {
  background-image: radial-gradient(
      circle at 24% 76%,
      rgb(55, 98, 247) 0%,
      rgb(55, 98, 247) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 76%,
      rgb(55, 98, 247) 0%,
      rgb(55, 98, 247) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 24%,
      rgb(55, 98, 247) 0%,
      rgb(55, 98, 247) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 24%,
      rgb(55, 98, 247) 0%,
      rgb(55, 98, 247) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(23, 9, 214) 0%,
      rgb(23, 9, 214) 71%,
      transparent 71%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(55, 98, 247), rgb(55, 98, 247));
  background-size: 23px 23px;
  height: 10.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_headline {
  color: white;
  font-family: Roboto;
  font-size: 2.5em;
}
.form_text {
  font-size: calc(10px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_form_card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1em;
}

.personal_form {
  display: grid;
}

.personal_input {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #1709d6;
  border-radius: 20px;
  font-size: calc(8px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.education_input {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #004c3f;
  border-radius: 20px;
  font-size: calc(8px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.experience_input {
  width: 60vw;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #02bd9c;
  border-radius: 20px;
  font-size: calc(8px + 1vmin);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submit_button {
  max-width: 150px;
  border: 2px solid #1709d6;
  border-radius: 20px;
  background-color: transparent;
  color: #1709d6;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
}

#submit_button:hover {
  color: white;
  background-color: #1709d6;
}

#edu_submit_button {
  max-width: 150px;
  border: 2px solid #004c3f;
  border-radius: 20px;
  background-color: transparent;
  color: #004c3f;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
}

#edu_submit_button:hover {
  color: white;
  background-color: #004c3f;
}

#exp_submit_button {
  max-width: 150px;
  border: 2px solid #02bd9c;
  border-radius: 20px;
  background-color: transparent;
  color: #02bd9c;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
}

#exp_submit_button:hover {
  color: white;
  background-color: #02bd9c;
}

#reset_button {
  max-width: 150px;
  padding: 12px 20px;
  border: 2px solid red;
  color: red;
  font-weight: 600;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
}

#reset_button:hover {
  color: white;
  background-color: red;
}

.button_holder {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.education_form {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.experience_form {
  display: flex;
  flex-direction: column;
}

.education_header {
  margin-top: 8px;
  background-image: radial-gradient(
      circle at 24% 76%,
      rgb(0, 76, 63) 0%,
      rgb(0, 76, 63) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 76%,
      rgb(0, 76, 63) 0%,
      rgb(0, 76, 63) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 24%,
      rgb(0, 76, 63) 0%,
      rgb(0, 76, 63) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 24%,
      rgb(0, 76, 63) 0%,
      rgb(0, 76, 63) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(0, 128, 96) 0%,
      rgb(0, 128, 96) 71%,
      transparent 71%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 76, 63), rgb(0, 76, 63));
  background-size: 23px 23px;
  height: 10.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education_title {
  color: white;
  font-family: Roboto;
  font-size: 2em;
}

.experience_header {
  margin-top: 8px;
  background-image: radial-gradient(
      circle at 24% 76%,
      rgb(2, 189, 156) 0%,
      rgb(2, 189, 156) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 76%,
      rgb(2, 189, 156) 0%,
      rgb(2, 189, 156) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 76% 24%,
      rgb(2, 189, 156) 0%,
      rgb(2, 189, 156) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 24%,
      rgb(2, 189, 156) 0%,
      rgb(2, 189, 156) 10%,
      transparent 10%,
      transparent 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 71%,
      transparent 71%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(2, 189, 156), rgb(2, 189, 156));
  background-size: 23px 23px;
  height: 10.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.experience_title {
  color: white;
  font-family: Roboto;
  font-size: 2em;
}

.headline_circle {
  background-color: black;
  height: 10.5vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
